BOT_TOKEN=

API_HOST=127.0.0.1
API_PORT=8080
API_TOKEN=

CANAL_DE_PROMOCOES_DE_VOO=
TICKET_PANEL_CHANNEL_ID=
TICKET_CATEGORY_ID=

SERPAPI_KEY=

RAYQUAZA_API_URL=

VOO_AEROPORTO_ORIGEM=
VOO_AEROPORTO_DESTINO=
VOO_DATA_IDA=
VOO_DATA_VOLTA=
VOO_PRECO_MAXIMO=
VOO_MOEDA=

VOO_INTERVALO_MINUTOS=
VOO_MAX_RETRIES=
VOO_TIMEOUT_CICLO_SEGUNDOS=