[Unit]
Description=Verifica atualizacoes do Rayquaza

[Timer]
OnActiveSec=1min
OnUnitInactiveSec=5min
Unit=rayquaza-deploy.service

[Install]
WantedBy=timers.target